<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.developer_student">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
   <!--
    xmlns:tools="http://schemas.android.com/tools"
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
   -->




    <uses-permission android:name="android.permission.INTERNET"/>


</manifest>


